<!--****************************Start Home Section***************************************-->
<section id="Home">
    <div class="home-content">
        <div class="text-center">
            <h2 class="text-uppercase">Welcome</h2>
        </div>
    </div>
</section>
<!--****************************End Home Section ***************************************-->


<!--****************************Start service Section ***************************************-->
<section id="our-service" class="my-5">
    <h3 class="py-5 text-center">Our Services</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="service-left">
                    <img src="assets/images/service.png" class="w-50" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-right">
                    <div>
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <i class="far fa-hand-point-right mr-2"></i>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, itaque.
                            </li>
                            <li class="py-2">
                                <i class="far fa-hand-point-right mr-2"></i>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, inventore!
                            </li>
                            <li class="py-2">
                                <i class="far fa-hand-point-right mr-2"></i>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis.
                            </li>
                            <li class="py-2">
                                <i class="far fa-hand-point-right mr-2"></i>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, id.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--****************************End service Section***************************************-->
