<section id="about-us" class="my-5">
    <div class="container">
        <h3 class="my-4 text-center">Our Doctors</h3>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card" >
                    <img src="assets/images/doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" >
                    <img src="assets/images/doctor3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" >
                    <img src="assets/images/doctor4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor3</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" >
                    <img src="assets/images/doctor5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor4</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="assets/images/doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor5</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="assets/images/doctor3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor6</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="assets/images/doctor4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor7</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="assets/images/doctor5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor8</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="assets/images/doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor9</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, culpa dicta temporibus corporis debitis officia odio accusantium inventore rem exercitationem!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>